body {
  background-color: #424549;
  display: flex;
  flex-direction: column;
  margin: 0;
}
/*Creando el Mensaje en la parte superior*/
#UpperAd {
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*Creando el Header*/
#Header {
  background-color: #fbf7f5;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  height: 60px;
  width: 60px;
  margin-left: 30px;
}
/*Creando el Main*/
#MainInterface {
  background-color: #738a8c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 130px;
}
.postBox {
  text-align: center;
  width: 40%;
  margin-left: 50px;
  margin-right: 50px;
}
.postTitle {
  font-size: 58px;
  font-weight: bold;
}
.postText {
  font-size: 50px;
}
.mainPic1 {
  height: 450px;
  width: 25%;
}
.mainPic2 {
  height: 450px;
  width: 20%;
}
/*Creando la descripcion de abajo*/
#Description {
  background-color: #fbf7f5;
  padding-top: 10px;
}
.descriptionBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.descriptionImg {
  height: 350px;
  width: 35%;
  border-style: solid;
  border-width: 4px;
  border-color: #1f2b2f;
  border-radius: 30px;
  margin: 15px;
}
.descriptionText {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 30px;
  text-align: center;
  width: 50%;
}
/*Crenado el Footer*/
#Footer {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
